<style>

#instructions {
  padding: 10px;
  margin: 10px;
  font-family: sans-serif;
  background-color: #eeeedd;
}

#bottomButtons {
  padding: 10px;
  margin: 10px;
  font-family: sans-serif;
  background-color: #dddd55;
}

#Question {
  padding: 10px;
  margin: 10px;
  height: 150px;
  font-family: sans-serif;
  background-color: #eeee88;
}

#Equation {
  padding: 10px;
  margin: 10px;
  height: 20px;
  font-family: monospace;
  background-color: #eeee66;
}

button {
  font-family: Sans-serif;
  color: blue;
  background: none;
  border: none;
  text-decoration: underline;
}

</style>
